    nav {
      padding: 2% 0; /* уст. знач. полей вокруг содержимого элемента (короче, меняет размер строки с меню)*/
      background-color: #ffffff;
    }
    nav ul {
      list-style-type: none;/* изменяет вид маркера для элементов списка*/
      padding: 0;
      margin: 0;/* уст. величину отступа от каждого края элемента*/
    }
    nav ul li { display: inline-block; }/* ? генерирует блочный элемент, кот. обтекается другими элементами веб-страницы*/
    nav ul li {
      margin-left: 1%;/*настраиваю отступы от левого и правого краев*/
      margin-right: 3%;
    }
    div {
      float: left;
      margin-left: 4%;/*настраиваю отступы от левого и правого краев*/
      margin-top: 1%;
    }
    a {
      color: rgb(46, 42, 42);
      text-decoration: none;/*добавляет всякие подчеркивания-перечеркивание, в д.сл. убирает*/
      font-family: 'Nunito', sans-serif; 
      font-style: normal;
      font-weight: 480;
      font-size: 100%;
      line-height: 137%;
    } 